<div class="container">
    <div class="row">
        <div class="col-6 smart-header">
            <span class="smart-header-title">Dashboard</span> 
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-2">
            <app-smart-dashboard-cards [icon]="'fas fa-hourglass-end'" [title]="'Expired Products'" [data]="25" ></app-smart-dashboard-cards>
        </div>
        <div class="col-2">
            <app-smart-dashboard-cards [icon]="'fa-solid fa-arrow-down-wide-short'" [title]="'Minimum Product'" [data]="95"></app-smart-dashboard-cards>
        </div>
        <div class="col-2">
            <app-smart-dashboard-cards [icon]="'fa-solid fa-arrow-down-wide-short'" [title]="'Expiry Product(T)'" [data]="37"></app-smart-dashboard-cards>
        </div>
        <div class="col-2">
            <app-smart-dashboard-cards [icon]="'fa-solid fa-arrow-down-wide-short'" [title]="'Expiry Product(W)'" [data]="100"></app-smart-dashboard-cards>
        </div>
        <div class="col-2">
            <app-smart-dashboard-cards [icon]="'fa-solid fa-arrow-down-wide-short'" [title]="'Total Customers(T)'" [data]="10"></app-smart-dashboard-cards>
        </div>
        <div class="col-2">
            <app-smart-dashboard-cards [icon]="'fa-solid fa-arrow-down-wide-short'" [title]="'Today Revenue'" [data]="26"></app-smart-dashboard-cards>
        </div>
    <div class="row">
        <div class="col-6">
            <div class=" card">
                <div class="card-body">
                    <app-smart-chart [chartName]="'expproduct'" [type]="'bar'" [smartConfig]="chartConfig[0]"></app-smart-chart>
                    <div class="text-center pt-3">
                        <p>Expiry Products</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <app-smart-chart [chartName]="'financial'" [type]="'pie'" [smartConfig]="chartConfig[0]"></app-smart-chart>
                </div>
                <div class="text-center pt-3">
                    <p>Financial Status</p>
                </div>
            </div>
        </div>
    </div>
</div>