.searchbox{
    background-color: #f5f8fa;
    height: 50px;
    width: 85%;
    height: auto;
    position: absolute;
    padding: 10px 5px;
    z-index: 1;
    box-shadow: 1px 9px 9px -12px #bdbdbd;
}