<!-- <div class="card mb-2 smart-dashboard-card">
    <div class="card-body">
        <div class="text-center">
             <i [ngClass]="icon"></i> 
           <h2><span class="badge bg-danger counter-count" >{{data}}</span></h2>
        </div>
        <div>{{title}}</div>
        <div class="text-center">
            <button class="smart-btn-outlet">View More</button>
        </div>
    </div>
</div> -->

<!-- <div class="container">
    <div class="row">
        <div class="col-md-4 col-xl-3"> -->
            <div class="card  {{color}} order-card">
                <div class="card-block">
                    <h6 class="m-b-20">{{title}}</h6>
                    <h2><i class="{{icon}}"></i><span class="f-right">{{data}}</span></h2>
                    <p class="m-b-0"><a>View More</a></p>
                </div>
            </div>
        <!-- </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Orders Received</h6>
                    <h2 class="text-right"><i class="fa fa-rocket f-left"></i><span>486</span></h2>
                    <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Orders Received</h6>
                    <h2 class="text-right"><i class="fa fa-refresh f-left"></i><span>486</span></h2>
                    <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Orders Received</h6>
                    <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span>486</span></h2>
                    <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                </div>
            </div>
        </div>
	</div>
</div> -->