<div class="row">
    <div class="col-6">
        <span *ngIf="tableconfig?.showentries && this.tableconfig.pagination">
            Show
            <select [(ngModel)]="count"
                (change)="onShowCount();showEntries('SHOWCOUNT')">
                <option *ngFor="let items of showItems">{{items}}</option>
            </select>
            Entries
        </span>
    </div>
    <div class="col-6 d-flex flex-row-reverse">
        <span *ngIf="tableconfig?.search" class="pt-2">
            Search <input type="search" [(ngModel)]="filter"
                (ngModelChange)="searchItems()" />
        </span>
        <span *ngIf="tableconfig?.refresh">
            <button class="btn btn-light btn-lg"
                (click)="onHeaderActionClick('REFRESH')"><i class="fa
                    fa-refresh"></i></button>
        </span>
        <span *ngIf="tableconfig?.colsearch">
            <button class="btn btn-light btn-lg"
                (click)="isFilterEnabled=!isFilterEnabled"><i
                    class="{{isFilterEnabled ? 'fa fa-close' : 'fa fa-filter'}}"></i></button>
        </span>
        <span *ngIf="tableconfig?.download">
            <button class="btn btn-light btn-lg"
                (click)="exportexcel(tableconfig?.name)"><i class="fa fa-download"></i></button>
        </span>
        <span *ngIf="tableconfig?.add">
            <button class="btn btn-light btn-lg"
                (click)="onHeaderActionClick('ADD')"><i class="fa fa-create">+</i></button>
        </span>
    </div>
</div>

<div class="">
    <table class="table pb-3 table-hover " style="width: 100%" id={{tableconfig?.name}}>
        <thead>
            <tr class="datatable-head smart-header">
                <th *ngFor="let thead of tconfig.config" smartTableShort
                    [enablesort]=tableconfig?.sorting
                    (click)="sortArr(thead.tbody)">{{thead.title}}
                </th>
            </tr>
            <tr *ngIf="isFilterEnabled">
                <th *ngFor="let thead of tconfig.config">
                    <form>
                        <input type="search" name="{{thead.tbody}}"
                            id="{{thead.tbody}}" autocomplete="off"
                            (input)="coulmnSearch(thead.tbody,$event)"
                            *ngIf="thead?.filter == true ? true : false"
                            #filterText class="form-control form-control-sm">
                    </form>
                </th>
            </tr>
        </thead>
        <tbody *ngIf="tabledata?.length> 0 || tabledata?.length != null"
            class="table-group-divider">
            <tr *ngFor="let tbody of tabledata | paginate: { itemsPerPage:count, currentPage: page}; let i= index" class="ft-table-body">
                <td *ngFor="let tdata of tconfig.config">
                    <span *ngIf="tdata.type=='db' && !tdata.uppercase">{{tbody[tdata.tbody] || '-' }}</span>
                    <span *ngIf="tdata.type=='db' && tdata.uppercase"> {{tbody[tdata.tbody] | uppercase }}</span>
                    <span *ngIf="tdata.type=='btngroup'">
                        <div class="d-flex">
                            <span *ngFor="let btngrp of tdata.btnconfig">
                                <span *ngIf="!btngrp.cond && !btngrp.showcond" class="p-2">
                                    <i *ngIf="btngrp.type == 'icon'" [ngStyle]="{'color':btngrp.color}" class="{{btngrp.icon}}" title="{{btngrp.title}}" (click)="onBodyActionClick(btngrp.action,tbody[btngrp.returnData],i)"></i>
                                </span>
                                <span *ngIf="!btngrp.cond && !btngrp.showcond && btngrp.type == 'iconSelect'" class="p-2">
                                    <div ngbDropdown class="d-inline-block">
                                    <i id="dropdownBasic1" ngbDropdownToggle class="{{btngrp.icon}}"></i>
                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                        <button ngbDropdownItem *ngFor="let dpoptions of btngrp?.options " (click)="onBodyActionClick(dpoptions.action,tbody[dpoptions.returnData],i)"><i class="{{dpoptions.icon}} mr-1"></i>{{dpoptions.title}}</button>
                                    </div>
                                </div>
                                </span>
                                <span *ngIf="btngrp.cond && btngrp.cond.value.includes(tbody[btngrp.cond.comp])">
                                    <i *ngIf="btngrp.type == 'icon'"  [ngStyle]="{'color':btngrp.color}" class="{{btngrp.icon}}" title="{{btngrp.title}}" (click)="onBodyActionClick(btngrp.action,tbody[btngrp.returnData],i)"></i>
                                </span>
                                <span *ngIf="btngrp.showcond && btngrp.showcond.comp == btngrp.showcond.value">
                                    <i *ngIf="btngrp.type == 'icon'" [ngStyle]="{'color':btngrp.color}" class="{{btngrp.icon}}" title="{{btngrp.title}}" (click)="onBodyActionClick(btngrp.action,tbody[btngrp.returnData],i)">{{btngrp.icon}}</i>
                                </span>
                            </span>
                        </div>
                    </span>
                </td>
            </tr>
        </tbody>
        <tbody *ngIf="(this.tableconfig.pagination || this.tableconfig.norecordsFound )&& (tabledata?.length == 0 || tabledata?.length == null)" class="table-group-divider">
            <tr class="datatable-head">
                <td [attr.colspan]=colspan class="text-center">
                    <span>No Records Found</span>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-6 ">
            <span  *ngIf="tableconfig?.showingentries && this.tableconfig.pagination">
                Showing {{showStartCount}} to {{showEndCount}} of {{isSearchEnabled ? totalFilteredCount : totalCount }} entries
                <span *ngIf="isSearchEnabled">(filtered from {{totalCount}} total entries)</span>
            </span>
            <span *ngIf="tableconfig?.currentpage && this.tableconfig.pagination">
                Current Page 
                <select [(ngModel)]="page" (change)="showEntries('PAGE')">
                    <option *ngFor="let items of currentPage">{{items}}</option>
                </select> |
            </span>
        </div>
        <div class="col-6 d-flex flex-row-reverse">
        <span *ngIf="this.tableconfig.pagination && tabledata?.length != 0 && tabledata?.length != null">
            <pagination-controls (pageChange)="onPageChange($event)" [responsive]="responsive" [maxSize]="maxSize" [directionLinks]="true"
            [previousLabel]="'Previous'" [nextLabel]="'Next'" ></pagination-controls>
        </span>
        </div>
    </div>
</div>