<div class="container section">
    <form [formGroup]="userForm" autocomplete="off">
    <div class="row form-group">

        <div class="col-4"> 
            <label class="col-12">Full Name<span class="mandatory-field">*</span></label>
            <input placeholder="First Name" formControlName="firstName" [SmartErrorMessage]="userFormControl.firstName"   [smartSubmit]="isSubmitted"  class="input-value"  type="text" />
            <!-- <app-smart-validation [label]="'First Name'" [formctrl]="userFormControl.firstName.errors"  [isSubmitted]="isSubmitted"  ></app-smart-validation> -->
            <!-- <div class="text-danger" *ngIf="userFormControl.firstName.errors && (isSubmitted || userFormControl.firstName.touched )">
                <label for="" *ngIf="userFormControl.firstName.errors.required">First name is Required</label>
            </div> -->
        </div>
        <div class="col-4">
            <label class="col-12">Middle Name<span class="mandatory-field">*</span></label>
            <input placeholder="Middle Name" formControlName="middleName" [SmartErrorMessage]="userFormControl.middleName" [smartSubmit]="isSubmitted"  class="input-value" type="text">
            <!-- <div class="text-danger" *ngIf="userFormControl.middleName.errors && (isSubmitted || userFormControl.middleName.touched )">
                <label for="" *ngIf="userFormControl.middleName.errors.required">Middle name is Required</label>
            </div> -->
        </div>
        <div class="col-4">
            <label class="col-12">Last Name<span class="mandatory-field">*</span></label>
            <input placeholder="last Name" formControlName="lastName" [SmartErrorMessage]="userFormControl.lastName" [smartCustom]="smartCustomConfig.lastName" [SmartLabel]="'Last Name'"  [smartSubmit]="isSubmitted" class="input-value" type="text">
            <!-- <div class="text-danger" *ngIf="userFormControl.lastName.errors && (isSubmitted || userFormControl.lastName.touched )">
                <label for="" *ngIf="userFormControl.lastName.errors.required">Last name is Required</label>
            </div> -->
        </div>
    </div>
    <div class="row text-center col-12 pt-2">
        <button type="submit" class="btn btn-primary" (click)="saveUserFormDetails()">save</button>
    </div>
    <!-- <div class="row form-group">
        <div class="col-6">
            <label>Father's Name<span class="mandatory-field">*</span></label>
            <div>
                <input placeholder="Father Name" formControlName="fatherName" Errormessage  class="input-value">
                <div class="text-danger" *ngIf="userFormControl.fatherName.errors && (isSubmitted || userFormControl.fatherName.touched )">
                    <label for="" *ngIf="userFormControl.fatherName.errors.required">Father's Name is Required</label>
                </div>
            </div>
        </div>
        <div class="col-6">
            <label>Address<span class="mandatory-field">*</span></label>
            <div>
                <input placeholder="Address" formControlName="address" Errormessage  class="input-value">
                <div class="text-danger" *ngIf="userFormControl.address.errors && (isSubmitted || userFormControl.address.touched )">
                    <label for="" *ngIf="userFormControl.address.errors.required">Address is Required</label>
                </div>
            </div>
        </div>
    </div> -->
    <!-- <div class="row form-group">
        <div class="col-4">
            <label>Date of Birth<span class="mandatory-field">*</span></label>
            <div class="input-group">
                <input  class="col-md-12 upper-case input-value" Errormessage  formControlName="dateofbirth"  placeholder="DD-MM-YYYY" name="d2"  ngbDatepicker #d2="ngbDatepicker">
                <div class="input-group-append">
                  <span class="calendar" (click)="d2.toggle()" type="button">📅</span>
                </div>
                <div class="text-danger" *ngIf="userFormControl.dateofbirth.errors && (isSubmitted || userFormControl.dateofbirth.touched )">
                    <label for="" *ngIf="userFormControl.dateofbirth.errors.required">Date of Birth is Required</label>
                </div>
            
              </div>
        </div>
        <div class="col-4">
            <label>Mobile Number<span class="mandatory-field">*</span></label>
            <div>
                <input placeholder="Mobile Number" formControlName="mobileno" Errormessage  class="input-value" type="number">
                <div class="text-danger" *ngIf="userFormControl.mobileno.errors && (isSubmitted || userFormControl.mobileno.touched )">
                    <label for="" *ngIf="userFormControl.mobileno.errors.required">Mobile Number is Required</label>
                </div>
            </div>
        </div>
        <div class="col-4">
            <label>Email<span class="mandatory-field">*</span></label>
            <div>
                <input placeholder="Email" formControlName="email"  Errormessage  class="input-value" type="email">
                <div class="text-danger" *ngIf="userFormControl.email.errors && (isSubmitted || userFormControl.email.touched )">
                    <label for="" *ngIf="userFormControl.email.errors.required">Email is Required</label>
                </div>
            </div>
        </div>
    </div> -->
    <!-- <div class="row form-group">
        <div ngbDropdown class="col-4">
            <label>Gender<span class="mandatory-field">*</span></label>
            <select id="gender" class="border" formControlName="gender" Errormessage  ngbDropdownToggle>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="male">Male</option>
            </select>
            <div class="text-danger" *ngIf="userFormControl.gender.errors && (isSubmitted || userFormControl.gender.touched )">
                <label for="" *ngIf="userFormControl.gender.errors.required">Gender is Required</label>
            </div>
        </div>
        <div class="col-6">
            <label>Location<span class="mandatory-field">*</span></label>
            <div>
                <input placeholder="Location" formControlName="location" Errormessage  class="input-value">
                <div class="text-danger" *ngIf="userFormControl.location.errors  && (isSubmitted || userFormControl.location.touched )">
                    <label for="" *ngIf="userFormControl.location.errors.required">Location is Required</label>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button [disabled]="isSubmitted" class=" btn btn-primary" (click)="saveUserFormDetails()">
                <span *ngIf="isSubmitted" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Save</button>
        </div>
    </div> -->
  </form>
</div>