html{
    scroll-behavior: smooth;
}
body{
    font-size: 12pt;
    font-family: 'Times New Roman', Times, serif;
    background-color: #f7f9fb;
    scroll-behavior: smooth;
}
label{
    font-size: medium;
    color :#02083b;
}

.smart-input{
    margin-top: 10px;
}

.madatory-filed{
    color: red;
    text-align: left;
}

input{
    background-color: #f5f8fa;
    border-radius: 5px;
    height: 32px;
    outline: none;
    text-transform: uppercase;
}
.input-value {
    background-color: #f5f8fa00;
    border: none;
    height: 32px;
    outline: none;
    width: 100%;
    padding-left: 4px;
    color: #5E6278 !important;
    border-radius: 3px;
    font-size: 14px;
    border: solid #e3e3e3 1px;
}

.smart-btn{
    background-color: #03374e;
    color: white;
    padding: 5px 15px 5px 15px ;
    border-radius: 12px;
    text-transform: uppercase;
    margin: 5px;
}
.smart-btn-outlet{
    font-size: small;
    border : solid #03374e 1px;
    color: #03374e;
    padding: 5px 15px 5px 15px ;
    border-radius: 12px;
    text-transform: uppercase;
}

.smart-btn-outlet :hover {
    background-color :#03374e;
    color: white;
}

.smart-icon{
    padding: 5px;
}

.smart-dashboard-card{
    border-radius: 25px;
}

/* Input type Number Spinner Remove */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.uppercase {
  text-transform: uppercase;
}

.invalid{
    border-bottom : solid red 2px !important;
}

.valid{
    border-bottom : solid green 2px !important;
}

/* .disabled {
    border-left: solid gray 2px !important;
} */

.untouched {
    border-bottom: solid blue 2px !important;
}

.error-msg{
    font-size: 12px;
}

/* Scroll Bar */
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #042331;
    border-radius: 10px
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #042331;
  }