

.top_navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: #323233;
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.125);
    display: flex;
    align-items: center;
    z-index: 1;
}

.top_navbar .logo {
    width: 250px;
    font-size: 25px;
    font-weight: 700;
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

.top_navbar .menu {
    width: calc(100% - 250px);
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_navbar .hamburger {
    font-size: 25px;
    cursor: pointer;
    color: white;
}

.top_navbar .hamburger:hover {
    color: #007dc3;
}

.hover_collapse .sidebar {
    width: 70px;
    transition: .5s;
}

.hover_collapse .sidebar ul li a .text {
    display: none;
}

.sidebar_inner :hover {
    transition: .5s;
}

.sidebar{
    position:fixed;
    top: 40px;
    left: 0;
    width: 250px;
    height: 100%;
    background: #042331;
    z-index: 1;
    overflow-y :hidden;
    text-transform: uppercase;
}

#smart-sidebar{
    display:  'block';
}

.smart-body{
    margin: 60px 0px 60px 20px;
}

#smartBody{
    transition: .5s;
}
.sidebar ul li a {
    display: block;
    padding: 16px 25px;
    border-bottom: 1px solid #03374e;
    color: #0e94d4;
    transition: 0.3s;
}

.sidebar ul li a .icon {
    font-size: 18px;
    color: white;
    vertical-align: middle;
}



.sidebar ul li a .text {
    margin-left: 19px;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
}

.sidebar ul li a:hover {
    background: #0e94d4;
    color: #fff;
}

.smart-header {
    color: grey;
    text-transform: capitalize;
}

.smart-header-title{
    text-align: center;
}

.notfound{
    background-color: #f7f9fb;
    margin-top: 100px;
    text-align: center;
}

.billtable{
    max-height: 300px;
    overflow-x: auto;
}

@media only screen and (max-width: 842px) {
    body{
        display: none;
    }
}