<form [formGroup]="userForm" autocomplete="off">
    <div class="row form-group">
        <div class="col-md-4 smart-input"> 
            <label>Full Name<span smartMandatory></span></label>
            <input placeholder="First Name" formControlName="fullName" [smartErrorMessage]="userFormControl.fullName"  [smartSubmit]="isSubmitted" smartInputBorder  class="input-value"  type="text" />
        </div>
        <div class="col-md-4 smart-input">
            <label>Father Name<span smartMandatory></span></label>
            <input placeholder="Father Name" formControlName="fatherName" [smartErrorMessage]="userFormControl.fatherName" smartInputBorder   [smartSubmit]="isSubmitted" class="input-value" type="text">
        </div>
        <div class="col-md-4 smart-input">
            <label>Address<span smartMandatory></span></label>
            <input placeholder="Address" formControlName="address" [smartErrorMessage]="userFormControl.address" smartInputBorder   [smartSubmit]="isSubmitted" class="input-value" type="text">
        </div>
        <div class="col-md-4 smart-input">
            <label>Date of Birth<span smartMandatory></span></label>
            <input placeholder="Date of Birth" formControlName="dateofbirth" [smartErrorMessage]="userFormControl.dateofbirth" smartInputBorder   [smartSubmit]="isSubmitted" class="input-value" type="date">
        </div>
        <div class="col-md-4 smart-input">
            <label>Mobile Number<span smartMandatory></span></label>
            <input placeholder="Mobile Number" formControlName="mobileno" [smartErrorMessage]="userFormControl.mobileno" smartInputBorder   [smartSubmit]="isSubmitted" class="input-value" type="number">
        </div>
        <div class="col-md-4 smart-input">
            <label>Email<span smartMandatory></span></label>
            <input placeholder="Email" formControlName="email" [smartErrorMessage]="userFormControl.email" smartInputBorder   [smartSubmit]="isSubmitted" class="input-value" type="email">
        </div>
        <div class="col-md-4 smart-input">
            <label>Gender<span smartMandatory></span></label>
            <select name="" id=""  class="input-value" formControlName="gender" [smartErrorMessage]="userFormControl.gender" [smartSubmit]="isSubmitted" smartInputBorder>
                <option disabled selected value="null">SELECT</option>
                <option value="MALE">MALE</option>
                <option value="FEMALE">FEMALE</option>
            </select>
        </div>
        <div class="col-md-4 smart-input">
            <label>Role<span smartMandatory></span></label>
            <select name="" id=""  class="input-value" formControlName="role" [smartErrorMessage]="userFormControl.role" [smartSubmit]="isSubmitted" smartInputBorder>
                <option disabled selected value="null">SELECT</option>
                <option value="EMPLOYEE">EMPLOYEE</option>
                <option value="ADMIN">ADMIN</option>
            </select>
        </div>
        <div class="col-md-4 smart-input">
            <label>Location<span smartMandatory></span></label>
            <input placeholder="location" type="text" formControlName="location" [smartErrorMessage]="userFormControl.location" smartInputBorder   [smartSubmit]="isSubmitted" class="input-value">
        </div>
    </div>
    <div class="text-center pt-2">
        <button type="submit" class="smart-btn" (click)="saveUserFormDetails()">save</button>
    </div>
  </form>